<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <h1>Template</h1>
   <button type="button" (click)="onclick()">click me</button>
   <h2>{{greetings}}</h2>
   <button type="button" (click)="onclick()">chandu</button>
   <h1>{{chandu}}</h1>
   <button type="button" (click)="onclick()">click me</button>
   <p>{{anil}}</p>
</body>
</html>
