h1 {
  color: blue;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 30px;
}
h2 {
  text-align: center;
  color: brown;
}
p{
  color: blueviolet;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 40px;
}

.switchcase{
  color: chartreuse;
  text-align: center;
  font-size: 30px;
}