<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <h1>Template</h1>
   <button type="button" (click)="onclick()">click me</button>
   <h2>{{greetings}}</h2>
   <button type="button" (click)="onclick()">chandu</button>
   <h1>{{chandu}}</h1>
   <button type="button" (click)="onclick()">click me</button>
   <p>{{anil}}</p>

     <h1 *ngIf="status;then trueblock else elseblock"></h1>

     <ng-template #elseblock><h2> welcome to ipac {{vinay}}</h2></ng-template>
    <ng-template #trueblock><h1>welcome {{vinay}}</h1></ng-template>

    <h2 *ngIf="show;then brueblock else godblock"></h2>
    <ng-template #godblock><h2>vinay is a {{boy}}</h2></ng-template>
    <ng-template #brueblock><h2>it is true {{boy}}</h2></ng-template>
</body>
</html>
